<!--Form pour editer un etudiant-->

<div *ngIf="action=== 'edit' " class="mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Etudiant n° <strong>{{etudiantSelect.id}}</strong></h2>

    </div>
    <div class="card-body">
      <div class="container mt-5">
        <form [formGroup]="etudiantForm">
          <div class="form-group">
            <label>Nom :</label>
            <input class="form-control" type="text" formControlName="nom" [(ngModel)]="etudiantSelect.nom">
          </div>
          <div class="form-group">
            <label>Prenom :</label>
            <input class="form-control" type="text" formControlName="prenom" [(ngModel)]="etudiantSelect.prenom">
          </div>
          <div class="form-group">
            <label>date de naissance :</label>
            <input class="form-control" type="date" formControlName="dateNaissance" [(ngModel)]="etudiantSelect.dateNaissance">
          </div>
          <div class="form-group">
            <label>Lieu de naissance:</label>
            <input class="form-control" type="text" formControlName="lieuNaissance" [(ngModel)]="etudiantSelect.lieuNaissance">
          </div>
          <div class="form-group">
            <label>Specialité:</label>
            <select class="form-control" formControlName="specialite" required [(ngModel)]="etudiantSelect.specialite">
              <option value="EEAI">EEAI</option>
              <option value="EEM">EEM</option>
            </select>
          </div>
          <div class="form-group">
            <label>Niveau :</label>
            <select class="form-control" formControlName="niveau"  [(ngModel)]="etudiantSelect.niveau" >
                <option value="Licence 2">Licence 2</option>
                <option value="Licence 3">Licence 3</option>
                <option value="Master 1">Master 1</option>
                <option value="Master 2">Master 2</option>
            </select>
        </div>
          <div class="form-group">
            <label>Sexe:</label>
            <select class="form-control" formControlName="sexe"  [(ngModel)]="etudiantSelect.sexe">
              <option value="F">Feminin</option>
              <option value="M">Masculin</option>
            </select>
          </div>
          <div class="form-group">
            <label>Nationnalité:</label>
            <input class="form-control" type="text" formControlName="nationnalite" [(ngModel)]="etudiantSelect.nationnalite">
          </div>
          <div class="form-group">
            <label>Numero du Bac:</label>
            <input class="form-control" type="text" formControlName="numeroBac" [(ngModel)]="etudiantSelect.numeroBac">
          </div>
          <div class="form-group">
            <label>Annee Bac:</label>
            <input class="form-control" type="number" formControlName="anneeBac" [(ngModel)]="etudiantSelect.anneeBac">
          </div>
          <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Photo:</label>
                    <input class="form-control" type="file" name="avatar" id="avatar" accept="image/*"
                     (change)="onFileChange($event)" #fileInput [(ngModel)]="etudiantSelect.avatar"  >
                </div>
            </div>
            <div class="col-md-4">
              <img width="130" height="200"src="{{etudiantSelect.avatar}}" alt="">
            </div>
          </div>
        
          

          <button class="btn btn-success" (click)="editEtudiant(etudiantSelect.id); action ='add'" >Enregister</button>
          <button class="btn btn-danger ml-2" (click)="action ='add'">Annuler</button>
        </form>

      </div>

    </div>
  </div>
</div>

<!--Liste des etudiants-->
<div *ngIf="action === 'add'" class="mt-5">
  <!-- <button class="btn btn-primary outline m-1" (click)="loadAllEtudiant()">Tous les niveaux</button>--> 
   <!--<button class="btn btn-outline-primary m-1" (click)="loadL2Etudiant()">Licence 2</button>
    <button class="btn btn-outline-primary m-1" (click)="loadL3Etudiant()">Licence 3</button>
    <button class="btn btn-outline-primary m-1" (click)="loadM1Etudiant()">Master 1</button>
    <button class="btn btn-outline-primary m-1" (click)="loadM2Etudiant()">Master 2</button>--> 
  <div class="card">
    <div class="card-header bg-light">
      Liste des Etudiants 
    
    </div>
    <div class="card-body">
      <table class="table table-hove">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Date de naissance </th>
            <th>Niveau </th>
            <th>Photo </th>
          </tr>
          <tr *ngFor=" let etudiant  of etudiants._embedded.etudiantl2s">

            <td>{{etudiant.nom}}</td>
            <td>{{etudiant.prenom}}</td>
            <td>{{etudiant.dateNaissance}}</td>
            <td>{{etudiant.niveau}}</td>

            <td><img width="50" height="50" src="{{etudiant.avatar}}" alt=""></td>
            <td><button class="btn btn-outline-success" (click)="selectEtudiantEdit(etudiant); action = 'edit'">Editer</button></td>
            <td><button class="btn btn-outline-danger" (click)="deleteEtudiant(etudiant.id)">Supprimer</button></td>
            <td><button class="btn btn-outline-primary" (click)="getOneEtudiant(etudiant.id); action= 'view'">Consulter</button></td>

          </tr>
        </thead>
      </table>
      <div  >
        <ul class="pagination">
          <li class="page-item" [ngClass]="{'active': currentPage===i}" *ngFor="let page of arrayPage; let i=index">
            <a class="page-link" (click)="goToPageEtudiant(i)">{{i+1}}</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

<!--Consulter les informations de l'etudiant-->
<div *ngIf="action==='view'" class="mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Etudiant n° {{etudiantSelect.id}}</h2>
       </div>
       <div class="card-body">
         <div class="row">
            <div class="col-md-8">
                <p> Nom : <strong>{{etudiantSelect.nom}}</strong> </p>
    
              <p> Prenom : <strong>{{etudiantSelect.prenom}}</strong> </p>
    
              <p> Date de Naissance : <strong>{{etudiantSelect.dateNaissance | date: 'dd-MM-yyyy' }}</strong>
                à <strong>{{etudiantSelect.lieuNaissance}}</strong></p>
    
              <p>Sexe : <strong>{{etudiantSelect.sexe}}</strong></p>
              <p>Specialite : <strong>{{etudiantSelect.specialite}}</strong></p>
              <p>Nationnalite : <strong>{{etudiantSelect.nationnalite}}</strong></p>
              <p>Numero du Bac : <strong>{{etudiantSelect.numeroBac}}</strong>
                Année d'obtention : <strong>{{etudiantSelect.anneeBac}}</strong></p>
                <p>Niveau: <strong>{{etudiantSelect.niveau}}</strong>
             </div>
             <div class="col-md-4">
                <img width="130" height="200" src="{{etudiantSelect.avatar}}" alt="">  
    
             </div>
    
         </div>
       </div>
       <div class="card-footer">
          <button class="btn btn-outline-danger" (click)="action= 'add'">Retour</button>

       </div>
    </div>
</div>