<nav class="navbar bg-light justify-content-right">
<!--  <button data-toggle="collapse" (click)="showHideSideBar()"><i class="fa fa-bars" aria-hidden="true"></i></button>
-->
  <ul class="nav nav-pills">  
      <li class="nav-item"><a class="nav-link"   href="#">Accuiel</a></li>
      <li class="nav-item"> <a class="nav-link"  href="#">Connexion</a></li>
      
  </ul>
</nav>