<div class="container-fluid body">

     <app-navbar
     ></app-navbar>
</div>
<div class="container-fluid body">
        <a data-toggle="collapse" (click)="showHideSideBar()"><i class="fa fa-bars" aria-hidden="true"></i></a>

    <div class="row">

        <div class="col-md-3" *ngIf="showHide == true" >
                <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <app-content></app-content>
        </div>
    </div>
    
</div>


