<nav class="nav flex-column bg-light body ">
  <div class="sidebar">
    <a [routerLink]="['/addEtu']" class="nav-link active  " href="#" routerLinkActive="active">Ajouter un étudiant</a>
    <!-- <div class="dropdown-menu">
            <a [routerLink]="['/addEtu']" class="dropdown-item" href="#">Licence 2</a>
            <a class="dropdown-item" href="#">Licence 3</a>
            <a class="dropdown-item" href="#">Master 1</a>
            <a class="dropdown-item" href="#">Master 2</a>
      
          </div>-->

    <!-- <a [routerLink]="['/liste']" class="nav-link active"  href="#">Consulter la Liste des Etudiants</a>-->
    <div class="dropright">
      <a href="#" routerLinkActive="active" class="nav-link active"  id="dropdownMenuButton" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Consulter la liste des étudiants
      </a>
      <div class="dropdown-menu">
        <a [routerLink]="['/liste']" class="dropdown-item" href="#">Tous les étudiants</a>
        <a [routerLink]="['/liste/licence2']" class="dropdown-item" href="#">Licence 2</a>
        <a [routerLink]="['/liste/licence3']" class="dropdown-item" href="#">Licence 3</a>
        <a [routerLink]="['/liste/master1']" class="dropdown-item" href="#">Master 1</a>
        <a [routerLink]="['/liste/master2']" class="dropdown-item" href="#">Master 2</a>
  
      </div>
    </div>

    <a [routerLink]="['/searchEtudiant']" class="nav-link active  " href="#" routerLinkActive="active">Chercher un étudiant</a>

</div>
</nav>