<div class="container mt-5">
        <div class="card">
                <div class="card-header">
                    <h2>Remplissez les differents champs</h2>
                </div>
                <div class="card-body">
                        <form [formGroup]="etudiantForm"  >
                           
                            <div class="form-group">
                                    <label>Nom :</label>
                                    <input class="form-control" type="text"  formControlName="nom">
                                </div>
                                <div class="form-group">
                                    <label>Prenom :</label>
                                    <input class="form-control" type="text" formControlName="prenom">
                                </div>
                                <div class="form-group">
                                    <label>date de naissance :</label>
                                    <input class="form-control" type="date" formControlName="dateNaissance">
                                </div>
                                <div class="form-group">
                                    <label>Lieu de naissance:</label>
                                    <input class="form-control" type="text" formControlName="lieuNaissance">
                                </div>
                                <div class="form-group">
                                    <label>Specialité:</label>
                                    <select class="form-control" formControlName="specialite" >
                                        <option value="EEAI">EEAI</option>
                                        <option value="EEM">EEM</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Niveau :</label>
                                    <select class="form-control" formControlName="niveau" >
                                        <option value="Licence 2">Licence 2</option>
                                        <option value="Licence 3">Licence 3</option>
                                        <option value="Master 1">Master 1</option>
                                        <option value="Master 2">Master 2</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Sexe:</label>
                                    <select class="form-control" formControlName="sexe" >
                                        <option value="F">Feminin</option>
                                        <option value="M">Masculin</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Nationnalité:</label>
                                    <input class="form-control" type="text" formControlName="nationnalite">
                                </div>
                                <div class="form-group">
                                    <label>Numero du Bac:</label>
                                    <input class="form-control" type="text" formControlName="numeroBac">
                                </div>
                                <div class="form-group">
                                    <label>Annee Bac:</label>
                                    <input class="form-control" type="number" formControlName="anneeBac">
                                </div>
                                
                                <div class="form-group">
                                    <label>Photo:</label>
                                    <input class="form-control" type="file" name="avatar" id="avatar" accept="image/*"
                                     (change)="onFileChange($event)" #fileInput  >
                                </div>
                               
                                
  
                                <button class="btn btn-success" (click)="saveEtudiant()" >Enregister</button>
                            </form>
                
                </div>
                
            </div>
            
    </div>
        

